.page{
    width: 100%;
    height: 100%;
    background-color: #e6e6ee;
    display: flex;
    align-items: center;
    padding: 20px;
    overflow: hidden;
    box-sizing: border-box; 
}
.main{
    width: 20vw;
    height: 100%;
    background-color: white;
    ul{
        list-style-type:none;
        margin: 0;
        padding: 20px;
    }
    li{
        box-sizing: border-box; 
        width: 100%;
        height: 50px;
        padding: 20px;
        color: #90929f;
        display: flex;
        justify-content: start;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
    }
    .material-icons{
        margin-right: 15px;
    }
}

.content{
    width: 100%;
    height: 100%;
    margin-left: 20px;
}