.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
}


.modal{
    position: relative;
    display: flex;
    width: 60vw;
    height: 60vh;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    flex-direction: row;

    .left{
        position: relative;
        width: 50%;
        height: 100%;
        background-color: white;
    }
    .right{
        width: 50%;
        height: 100%;
        background-color: #f2f2f2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        .field{
            width: 70%;
            font-size: 18px;
        }
        .submit{
            font-size: 20px;
            width: 200px;
            height: 50px;
        }
    }
}